
.nav-bar {
    padding: 3px;
    background-color: orange;
    display: flex;
    align-items: center;
}

.nav-bar h3 {
    margin-left: 5px;
}

.nav-items {
    list-style: none;
    display: flex;
}
.nav-items li {
    margin-right: 25px;
}

.nav-items li:hover {
    color: white;
}

#contact {
    color: lightgray;
}

.row-1 {
    display: flex;
    margin-top: 40px;
    margin-left: 100px;
}

.row-2 {
    margin-left: 100px;
}


.card {
    display: flex;
    width: 500px;
    margin-right: 30px;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.card img {
    width: 250px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.card-body {
    margin-left: 10px;
    margin-bottom: 15px;
}

.card-body .model {
    color: green;
    font-weight: bold;
}

.card-body .final-price {
    color: red;
    font-weight: bold;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 7px;
    background-color: blue;
    color: white;
}